
<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/sellerOffer.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   </head>
   <body>
      <div class="myOffer" style="text-align: center">
         <i class="material-icons">&#xE5C4;</i>
         <div class="myOffertext">My Offers</div>
      </div>
      <div class="listOfProperties" id="root" >
         <% for(var i = 0; i<keys.length; i++) { %>
         <div class="card" id='card<%=i%>'>
            <div class="offer-property-wrap">
               <div class="prop-image-wrap">
                  <div class="prop-image">
                     <img src='<%=cbids[i].cover_image_url%>' alt = "property-image" />
                  </div>
               </div>
               <div class="prop-content-wrap">
                  <div class="property-name-wrap">
                     <a class="prop-name" class> <%=cbids[i].title%> </a>
                     <span class = "by-prop-name">  </span>
                  </div>
                  <div class="prop-address">
                  </div>
                  <div class="prop-listing-details">
                     <div class="prop-listing-details-col">
                        <div class="prop-price">
                           <span class="val">
                           Original Price
                           </span>
                        </div>
                        <div class="lbl">
                           <font color="#999" size=2px><%=cbids[i].price%> </font>
                        </div>
                     </div>
                     <div class="prop-listing-details-col">
                        <div class="prop-size">
                           <span class="val">
                           Original Deposit
                           </span>
                        </div>
                        <div class="lbl">
                           <font color="#999" size=2px> <%=cbids[i].security_deposit%></font>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
               <div class="offerWrapper">
                  <div class="price">Offered Price</div>
                  <div class="deposit">Offered Deposit </div>
               </div>
               <div class="offerListContainer">
                  <% for(var j = 0; j<data[keys[i]].length; j++) { %>
                  <div class="offerList">
                    <% if(j%2==0) { %>
                     <div class="currentList" style="background-color:#fff">
                    <% }else {%>
                      <div class="currentList">
                    <%}%>
                        <div class="currentPrice">
                           Rs <%=data[keys[i]][j].bidder_amount%>
                        </div>
                        <div class="currentDeposit">
                           Rs <%=data[keys[i]][j].bidder_security_amount%>
                        </div>
                        <% if(data[keys[i]][j].status==='COMPLETED') { %>
                          <div class="currentOffer">Completed</div>                          
                        <% } else if(data[keys[i]][j].status==='BID') { %>
                          <div class="currentOffer" id="make-offer-button-text<%=i%><%=j%>"onclick="makeOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%>>Make Offer</div>
                        <% } else if(data[keys[i]][j].status==='ACCEPTED') {%>
                          <div class="currentOffer" >Awaiting Token</div> 
                        <%} else {%>
                          <div class="currentOffer"><%=data[keys[i]][j].status%></div>
                        <%}%>
                        <%if(data[keys[i]][j].status!=='ABORTED') {%>
                        <div class="currentAbort"  onclick="abortOffer(event)" data-identifieri=<%=i%>>
                           Reject
                        </div>
                        <% } else {%>
                          <div class="currentAbort" style="visibility:hidden"></div>
                        <%}%>
                     </div>
                     <div class="popupOverlay" id="off<%=i%><%=j%>" >
                        <div class="popup">
                           <div class="acceptOffer" onclick="showConfirmOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%>> Accept Offer </div>
                           <div class="counter" onclick="showEnterOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%>>Counter Offer</div>
                        </div>
                        <div class="one confirmOffer">
                           <div class="confirmHead">Confirm Offer</div>
                           <div class="moneyTalk">
                              <div class="price">
                                 <div class="rent">Rent</div>
                                 <div class="rentValue"><%=data[keys[i]][j].bidder_amount%></div>
                              </div>
                              <div class="security">
                                 <div class="deposit">Securit Deposit</div>
                                 <div class="depositValue"><%=data[keys[i]][j].bidder_security_amount%></div>
                              </div>
                           </div>
                           <div class="confirmYes_Btn">
                              <div class="yesbtnText" onclick="showAcceptmessage(event)" data-identifieri=<%=i%> data-identifierj=<%=j%> data-bidid=<%=data[keys[i]][j].id%>>Yes</div>
                           </div>
                        </div>
                        <div class="enterOffer one">
                           <div class="counterHead">Enter Counter Offer</div>
                           <div class="offerArea">
                              <div class="rentEdit">
                                 <div class="label">Rent</div>
                                 <div class="edit">
                                    <div class="rupee">Rs.</div>
                                    <div class="values">
                                       <input type="text" placeholder="<<%=data[keys[i]][j].bidder_amount%>>" size="10" id="price<%=i%><%=j%>">
                                    </div>
                                 </div>
                              </div>
                              <div class="securityEdit">
                                 <div class="label">Security Deposit</div>
                                 <div class="edit">
                                    <div class="rupee">Rs.</div>
                                    <div class="values">
                                       <input type="text" placeholder="<<%=data[keys[i]][j].bidder_security_amount%>>" size="10" id="sdep<%=i%><%=j%>">
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="counterYes_Btn">
                              <div class="yesbtnText" onclick="sendCounterOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%> data-bidid=<%=data[keys[i]][j].id%>>Send Counter Offer</div>
                           </div>
                        </div>
                        <div class="messageCounter one">
                           <div class="textContent">You have successfully sent counter offer!</div>
                        </div>
                        <div class="messageAccept one">
                           <div class="textContent">You have successfully accepted offer!</div>
                        </div>
                     </div>
                  </div>
                  <%}%>
               </div>
            </div>
            <div class="ViewOffer" >
               View All Offers
            </div>
         
         <%}%>
      </div>
   </body>
   <script type="text/javascript" src="/javascripts/sellerOffer.js"></script>
</html>

