

<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300" rel="stylesheet">
      <link rel="stylesheet" href="/stylesheets/owner.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
   <body>
      <div class="myOffer" style="text-align: center">
         <div class="arrow">
            <i class="material-icons">&#xE5C4;</i>
         </div>
         <div class="myOffertext">My Offers</div>
      </div>
      <div class="upload">
         <div class="upload_btn">
            Upload More property and broadcast
         </div>
      </div>
      <div class="empty">
        <% for(var i = 0; i<keys.length; i++) { %>
         <div class="card" id="card<%=i%>">
            <div class="propertyInfo">
               <div class="imgArea">
                  <img src="<%=cbids[i].cover_image_url%>">
               </div>
               <div class="details">
                  <div class="propertyName">
                     <%=cbids[i].title%>
                  </div>
                  <div class="attributes">
                     <div class="detail__">
                        <div class="label2">Original Price</div>
                        <div class="value2"><%=cbids[i].price%></div>
                     </div>
                     <div class="detail__">
                        <div class="label2">Original Deposit</div>
                        <div class="value2"><%=cbids[i].security_deposit%></div>
                     </div>
                     <div class="detail__2">
                        <div class="label2">Original Brokerage</div>
                        <div class="value2"><%=cbids[i].brokerage%></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="offerArea">
               <%for(var j = 0; j<data[keys[i]].length; j++) {%>
               <div class="offertags">
                  <div class="tag_label">
                     Offered <br />Price
                  </div>
                  <div class="tag_label">
                     Offered <br />Deposits
                  </div>
                  <div class="tag_label">
                     Offered <br />Brokerage
                  </div>
               </div>
               <div class="offer" id="offer<%=i%><%=j%>">
                  <div class="tagValue">
                     <%=data[keys[i]][j].bidder_amount%>
                  </div>
                  <div class="tagValue">
                     <%=data[keys[i]][j].bidder_security_amount%>
                  </div>
                  <div class="tagValue">
                     <%=data[keys[i]][j].brokerage%>%
                  </div>
                  <% if(data[keys[i]][j].status==='ACCEPTED') {%>
                    <div class="button">Listing Claimed</div>
                  <% } else if(data[keys[i]][j].status==='COUNTERBID'){ %>
                    <div class="button">Awaiting Offer</div>
                  <% } else { %>
                  <div class="button" onclick="showPopup(event)" data-identifieri=<%=i%> data-identifierj=<%=j%> id="make-offer-button-text<%=i%><%=j%>">
                     Make Offer
                  </div>
                  <% } %>
                  <div class="button" data-identifieri=<%=i%> data-identifierj=<%=j%>>
                     Reject
                  </div>
                  <div class="popupOverlay" id="off<%=i%><%=j%>">
                     <div class="popup one">
                        <div class="acceptOffer" onclick="showConfirmOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%>> Accept Offer </div>
                        <div class="counter" onclick="showEnterOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%>>Counter Offer</div>
                     </div>
                     <div class="confirmOffer one">
                        <div class="confirmHead">Confirm Offer</div>
                        <div class="moneyTalk">
                           <div class="price">
                              <div class="rent">Rent</div>
                              <div class="rentValue"><%=data[keys[i]][j].bidder_amount%></div>
                           </div>
                           <div class="security">
                              <div class="deposit">Security Deposit</div>
                              <div class="depositValue"><%=data[keys[i]][j].bidder_security_amount%></div>
                           </div>
                           <div class="security">
                              <div class="deposit">Brokerage</div>
                              <div class="depositValue"><%=data[keys[i]][j].brokerage%></div>
                           </div>
                        </div>
                        <div class="confirmYes_Btn">
                           <div class="yesbtnText" onclick="showAcceptmessage(event)" data-identifieri=<%=i%> data-identifierj=<%=j%> data-bidid=<%=data[keys[i]][j].id%>>Yes</div>
                        </div>
                     </div>
                     <div class="enterOffer one">
                        <div class="counterHead">Enter Counter Offer</div>
                        <div class="offerArea2">
                           <div class="rentEdit">
                              <div class="label">Rent</div>
                              <div class="edit">
                                 <div class="rupee">Rs.</div>
                                 <div class="values">
                                    <input type="text" placeholder="<<%=data[keys[i]][j].bidder_amount%>>" size="5" id="price<%=i%><%=j%>">
                                 </div>
                              </div>
                           </div>
                           <div class="securityEdit">
                              <div class="label">Security Deposit</div>
                              <div class="edit">
                                 <div class="rupee">Rs.</div>
                                 <div class="values">
                                    <input type="text" placeholder="<<%=data[keys[i]][j].bidder_security_amount%>>" size="5" id="sdep<%=i%><%=j%>" >
                                 </div>
                              </div>
                           </div>
                           <div class="securityEdit">
                              <div class="label">Brokerage</div>
                              <div class="edit">
                                 <div class="rupee">Rs.</div>
                                 <div class="values">
                                    <input type="text" placeholder="<<%=data[keys[i]][j].brokerage%>>" size="5" id="brokerage<%=i%><%=j%>" >
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                        <div class="counterYes_Btn">
                           <div class="yesbtnText" onclick="sendCounterOffer(event)" data-identifieri=<%=i%> data-identifierj=<%=j%> data-bidid=<%=data[keys[i]][j].id%>>Send Counter Offer</div>
                        </div>
                     </div>
                     <div class="messageCounter one">
                        <div class="textContent">You have successfully sent counter offer!</div>
                     </div>
                     <div class="messageAccept one">
                        <div class="textContent">You have successfully accepted offer!</div>
                     </div>
                  </div>
               </div>
               <% } %>
            </div>
            <div class="viewAll">
               View All Offers
            </div>
         </div>
         <% } %>
      </div>
   </body>
   <script type="text/javascript" src="/javascripts/ownerOffer.js"></script>
</html>

